<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Completed Trips</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

    <h2>Historical Trips Data</h2>



    <section>
        <!-- completed trips -->

        <div class="completed-trips">
            <h2 class="header completed">Completed Trips</h2>
            <table id="history">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Gender</td>
                        <td>Customer Type</td>
                        <td>Start Time</td>
                        <td>End Time</td>
                        <td>Duration</td>
                        <td>Cost</td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </section>
    <!-- Output section -->
    <script src="/js/utility.js"></script>
    <script src="/js/history.js"></script>
</body>

</html>