<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Hire Manager - Password Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">


    <!-- PWA SHIT -->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#fde9b7">
    <link rel="apple-touch-icon" href="icons/icon-96x96.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#fde9b7">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/icon-192x192.png">
    <link rel="icon" type="image/webp" sizes="48x48" href="icons/icon-48x48.png">
    <link rel="icon" type="image/png" href="icons/icon-48x48.png">
    <!--/ PWA SHIT -->


</head>

<body>
    <div class="wrapper">
        <div class="login-card">
            <div class="text-center mb-4">
                <img src="./logo 200.JPG" alt="Logo" class="logo">
                <h3 class="text display-6 my-3 ">Reset Your Password</h3>
                <p class="text text-info" id="message"></p>
            </div>

            <form id="request-password-reset">
                <div class="position-relative mb-3">
                    <i class="bi bi-envelope icon-addon"></i>
                    <input type="email" id="email" name="email" class="form-control form-control-with-icon"
                        placeholder="Your E-mail" required>
                </div>
                <input type="hidden" id="csrfToken" name="_csrf">

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="text-center mt-3">
                    <a href="/login" class="text-decoration-none">Back to Login</a>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="mb-0">&copy; 2024 Gumzo E-Board Systems. All Rights Reserved.</p>
            <small>Bike Hire Manager - Powered by Gumzo E-Board Systems</small>
        </div>
    </footer>

    <script src="/js/request-reset.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>