<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Passowrd Reset</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Request Password Reset</h1>
    <section class="form">
        <div class="box">

            <form id="request-password-reset">
                <input type="email" id="email" name="email" placeholder="E-mail" autocomplete="off" required>
                <input type="hidden" id="csrfToken" name="_csrf">
                <button type="submit">Submit</button>
            </form>
            <p id="message"></p>


        </div>
    </section>

    <script src="/js/request-reset.js"></script>
</body>

</html>