<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Hire Manager - Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="login-card">
            <div class="text-center mb-4">
                <img src="./logo 200.JPG" alt="Logo" class="logo">
                <h3 class="text display-6 my-3 ">Reset Password</h3>
                <p class="text text-info" id="message"></p>
            </div>
            <form id="resetPasswordForm">

                <div class="position-relative mb-3">
                    <i class="bi bi-lock icon-addon"></i>
                    <input type="password" id="password" name="password" class="form-control form-control-with-icon"
                        placeholder="Password" required>
                </div>

                <div class="position-relative mb-3">
                    <i class="bi bi-lock icon-addon"></i>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                        class="form-control form-control-with-icon" required>
                </div>

                <input type="hidden" id="csrfToken" name="_csrf">
                <input type="hidden" id="token" name="token">

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="mb-0">&copy; 2024 Gumzo E-Board Systems. All Rights Reserved.</p>
            <small>Bike Hire Manager - Powered by Gumzo E-Board Systems</small>
        </div>
    </footer>
    <script src="/js/reset.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>