html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #fefacb;
    display: flex;
    flex-direction: column;
}

.logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: border-radius 0.3s ease;
}

.logo:hover {
    border-radius: 50%;
    width: 155px;
}

.logo-nav {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: border-radius 0.3s ease;
}

.logo-nav:hover {
    border-radius: 50%;
    width: 35px;
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fde9b7;
}

.form-control-with-icon {
    padding-left: 40px;
}

.icon-addon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

.footer {
    flex-shrink: 0;
    background-color: #fde9b7;
    color: #6c757d;
    padding: 15px 0;
    text-align: center;
}


/* Other content pages */

.main-content {
    flex: 1 0 auto;
    padding-bottom: 60px;
    /* Space for sticky footer */
}

.sticky-footer {
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .trips-container {
        display: flex;
        gap: 20px;
    }

    .trips-container>div {
        flex: 1;
    }
}